<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - AdminPanel</title>

    <environment names="Development">
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Pace style -->
        <link rel="stylesheet" href="~/lib/plugins/pace/pace.css">
        <!-- Ion Slider -->
        <link rel="stylesheet" href="~/lib/ion.rangeSlider/css/ion.rangeSlider.css">
        <!-- ion slider Nice -->
        <link rel="stylesheet" href="~/lib/ion.rangeSlider/css/ion.rangeSlider.skinNice.css">
        <!-- bootstrap slider -->
        <link rel="stylesheet" href="~/lib/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css">
        <!-- iCheck for checkboxes and radio inputs -->
        <link rel="stylesheet" href="~/lib/plugins/iCheck/all.css">
        <!-- Bootstrap Color Picker -->
        <link rel="stylesheet" href="~/lib/plugins/colorpicker/bootstrap-colorpicker.min.css">
        <!-- Bootstrap time Picker -->
        <link rel="stylesheet" href="~/lib/plugins/timepicker/bootstrap-timepicker.min.css">
        <!-- Select2 -->
        <link rel="stylesheet" href="~/lib/plugins/select2/select2.min.css">
        <link rel="stylesheet" href="~/lib/plugins/datatables/dataTables.bootstrap.css">
        <!-- fullCalendar 2.2.5-->
        <link rel="stylesheet" href="~/lib/plugins/fullcalendar/fullcalendar.min.css">
        <link rel="stylesheet" href="~/lib/plugins/fullcalendar/fullcalendar.print.css" media="print">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="~/dist/css/skins/_all-skins.min.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="~/lib/plugins/iCheck/flat/blue.css">
        <!-- Morris chart -->
        <link rel="stylesheet" href="~/lib/plugins/morris/morris.css">
        <!-- jvectormap -->
        <link rel="stylesheet" href="~/lib/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
        <!-- Date Picker -->
        <link rel="stylesheet" href="~/lib/plugins/datepicker/datepicker3.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="~/lib/plugins/daterangepicker/daterangepicker.css">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="~/lib/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- General style sheets -->
        <link rel="stylesheet" href="~/css/site.min.css">

        <!-- Core CSS file -->
        <link rel="stylesheet" href="~/lib/photoswipe/dist/photoswipe.css">

        <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
         In the folder of skin CSS file there are also:
         - .png and .svg icons sprite,
         - preloader.gif (for browsers that do not support CSS animations) -->
        <link rel="stylesheet" href="~/lib/photoswipe/dist/default-skin/default-skin.css">

    </environment>
    <environment names="Staging,Production">
        <!-- Put your production and staging css here. -->
        <!-- Todo: Package all possible css into one file ->

        <!-- Bootstrap 3.3.6 -->
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">*@
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Pace style -->
        <link rel="stylesheet" href="~/lib/plugins/pace/pace.min.css">
        <!-- Ion Slider -->
        <link rel="stylesheet" href="~/lib/ion.rangeSlider/css/ion.rangeSlider.css">
        <!-- ion slider Nice -->
        <link rel="stylesheet" href="~/lib/ion.rangeSlider/css/ion.rangeSlider.skinNice.css">
        <!-- bootstrap slider -->
        <link rel="stylesheet" href="~/lib/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">
        <!-- iCheck for checkboxes and radio inputs -->
        <link rel="stylesheet" href="~/lib/plugins/iCheck/all.css">
        <!-- Bootstrap Color Picker -->
        <link rel="stylesheet" href="~/lib/plugins/colorpicker/bootstrap-colorpicker.min.css">
        <!-- Bootstrap time Picker -->
        <link rel="stylesheet" href="~/lib/plugins/timepicker/bootstrap-timepicker.min.css">
        <!-- Select2 -->
        <link rel="stylesheet" href="~/lib/plugins/select2/select2.min.css">
        <link rel="stylesheet" href="~/lib/plugins/datatables/dataTables.bootstrap.css">
        <!-- fullCalendar 2.2.5-->
        <link rel="stylesheet" href="~/lib/plugins/fullcalendar/fullcalendar.min.css">
        <link rel="stylesheet" href="~/lib/plugins/fullcalendar/fullcalendar.print.css" media="print">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
        folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="~/dist/css/skins/_all-skins.min.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="~/lib/plugins/iCheck/flat/blue.css">
        <!-- Morris chart -->
        <link rel="stylesheet" href="~/lib/plugins/morris/morris.css">
        <!-- jvectormap -->
        <link rel="stylesheet" href="~/lib/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
        <!-- Date Picker -->
        <link rel="stylesheet" href="~/lib/plugins/datepicker/datepicker3.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="~/lib/plugins/daterangepicker/daterangepicker.css">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="~/lib/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- General style sheets -->
        <link rel="stylesheet" href="~/css/site.min.css">

        <!-- Core CSS file -->
        <link rel="stylesheet" href="~/lib/photoswipe/dist/photoswipe.css">

        <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
        In the folder of skin CSS file there are also:
        - .png and .svg icons sprite,
        - preloader.gif (for browsers that do not support CSS animations) -->
        <link rel="stylesheet" href="~/lib/photoswipe/dist/default-skin/default-skin.css">
    </environment>

</head>
<body class="hold-transition skin-blue login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Admin</b>Panel</a>
        </div>
        
            @RenderBody()
        
    </div>
    <!-- /.login-box -->
    <!-- jQuery 2.2.3 -->
    <script src="~/lib/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/lib/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
