@using Microsoft.AspNetCore.Identity
@using AdminPanel.Models
@using AdminPanel.Identity


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
    @if (SignInManager.IsSignedIn(User))
    {

        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="~/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">@UserManager.GetUserAsync(User).Result.Name</span>
        </a>
        <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
                <img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                <p>
                    @UserManager.GetUserAsync(User).Result.Name
                    <small>@UserManager.GetUserAsync(User).Result.Email.ToLower()</small>
                </p>
            </li>
            <!-- Menu Body -->
            @*<li class="user-body">
                    <div class="row">
                    </div>
                </li>*@
            <!-- Menu Footer-->
            <li class="user-footer">
                <div class="pull-left">
                    @Html.ActionLink("Profile", "Profile", "IdentityUser", new { }, new { @class = "btn btn-default btn-flat" })
                </div>
                <div class="pull-right">
                    <form asp-area="" asp-controller="Login" asp-action="SignOff" method="post" id="logoutForm">
                        <button type="submit" class="btn btn-default btn-flat">Sign out</button>
                    </form>
                </div>
            </li>
        </ul>

    }
    else
    {
        <a asp-area="" asp-controller="Login" asp-action="Login" class="dropdown-toggle">Log in</a>

    }
</li>