<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="top-buffer"></div>
        <div class="panel panel-danger">
            <div class="panel-heading">Access Denied</div>
            <div class="panel-body">
                <section>
                    <h1 class="text-danger">401 ! Access Denied</h1>
                    <br />
                    <form asp-area="" asp-controller="Login" asp-action="SignOff" method="post" id="logoutForm">
                        <button type="submit" class="btn btn-success">Back to Login</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
